.wrapper {
    width: 100%;
    background-color: #140917;
}

.gadgetsWrapper {
    padding-left: 330px;
    padding-right: 30px;
    min-height: calc(100vh - 137px);
}

.columnWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    width: 70%;
}

.bigCard {
    width: 30%;
    padding-left: 30px;
    padding-bottom: 30px;
}